{% extends "base.html" %}
{% block content %}
<!-- initial choose -->
  <div class="container" id="choose">
    <p align="center" style="font-size:30px">
      What's for dinner tonight? <br /><small>Have some ingredients, but few ideas? We are here to help.</small></p>
    <p align="center" style="font-size:24px">
      <button class="initial" id="meat-option" onclick="choose()">I don't mind meat! </button>  <button class="initial" id="no-meat" onclick="choose2()">I would prefer no meat! </button>
    </p>
  </div>
    <div class="container" id="main">
    <!--big section with fridge + recipes -->
      <div class="row">
        <div class="col-sm-7" id="left-side">
            <div align="center" id="open" onclick="myFunction()"></div>
          <div id="ingredients">
          <div id="meat">

{% endblock %}